<div class="header_container">
    <div class="header_menu">
        <a href="">Новости</a>
        <a href="">Работа</a>
        <a href="">Вопрос</a>
        <a href="">Шоу</a>
    </div>

    <div class="auth_user">
        {% if user.is_authenticated %}
            <p>Привет, <a class='username' href=''>{{user.username}}</a></p>
            <a class='btn_auth' href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class='btn_auth' href="{% url 'home:login_page' %}">Войти</a>
        {% endif %}
    </div>
</div>
