{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="all_posts">
        {% for post in object_list %}
            <div class='post_item'>
                <div class="count_like">
                    <span>{{post.like.count}}</span>
                    {% if user.is_authenticated %}
                        {% if user in post.like.all %}
                            <a href="">
                                <img src="{% static 'assets/down-arrow.png' %}" alt="">
                            </a>
                        {% else %}
                            <a href="">
                                <img src="{% static 'assets/up-arrow.png' %}" alt="">
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                <p> Создал : <a href="">{{post.author}}</a></p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
